p {
  color: #000000;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: 'Sans-Bold';
}
.regular {
  font-family: 'Sans-Regular' !important;
}
.light {
  font-family: 'Sans-Light' !important;
}
.bold {
  font-family: 'Sans-Bold' !important;
}
.middle {
  font-family: 'Sans-SemiBold' !important;
}
.text--large {
  font-size: 22px;
}
.text--normal {
  font-size: 20px;
}
.text--normal-brown {
  color: #FFD69C;
}
.text--classic {
  font-size: 18px;
}
.text--middle {
  font-size: 16px;
}
.text--standard {
  font-size: 15px;
}
.text--small {
  font-size: 14px;
}
.text--small-brown {
  color: #FFD69C;
}
.text--very-small {
  font-size: 12px;
}
.text-center {
  text-align: center;
}
.text-start {
  text-align: start;
}
@media screen and (max-width: 720px) {
  .text--normal {
    font-size: 18px;
  }
}
.title--large {
  font-size: 32px;
  font-family: 'Sans-Bold';
}
.title--normal {
  font-size: 24px;
  font-family: 'Sans-SemiBold';
}
@media screen and (max-width: 940px) {
  .title--normal {
    font-size: 22px;
  }
}
@media screen and (max-width: 720px) {
  .title--large {
    font-size: 28px;
  }
  .title--normal {
    font-size: 22px;
  }
}
@media screen and (max-width: 480px) {
  .title--normal {
    font-size: 28px;
  }
}
@media screen and (max-width: 320px) {
  .title--large {
    font-size: 22px;
  }
  .title--normal {
    font-size: 16px;
  }
}
button {
  border: none;
}
.classic-button--white {
  background-color: #ffffff;
  color: #28387B;
  border-radius: 4px;
  padding: 16px 40px;
}
.classic-button--white-bold {
  font-family: 'Sans-Bold';
}
.classic-button--white-regular {
  font-family: 'Sans-Regular';
}
.classic-button--blue {
  background-color: #28387B;
  color: #ffffff;
  border-radius: 4px;
  padding: 16px 40px;
}
.classic-button--blue-bold {
  font-family: 'Sans-Bold';
}
.classic-button--blue-regular {
  font-family: 'Sans-Regular';
}
.color--white {
  color: #ffffff !important;
}
.color--dark-blue {
  color: #28387B !important;
}
.color--blonde {
  color: #FFD69C !important;
}
.color--brown {
  color: #AE887B !important;
}
.color--black {
  color: #000000 !important;
}
.color--light-grey {
  color: #EADDD9 !important;
}
.color--grey {
  color: #F2F2F2;
}
.d-n {
  display: none;
}
.d-f {
  display: flex !important;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: start;
}
.align-center {
  align-items: center;
}
.not-active {
  display: none !important;
}
.active {
  display: block;
}
.for-desktop {
  display: block !important;
}
.for-desktop--flex {
  display: flex !important;
}
@media screen and (max-width: 720px) {
  .for-desktop,
  .for-desktop--flex {
    display: none !important;
  }
}
.for-mobile {
  display: none !important;
}
.for-mobile--flex {
  display: none !important;
}
@media screen and (max-width: 720px) {
  .for-mobile {
    display: block !important;
  }
  .for-mobile--flex {
    display: flex !important ;
  }
}
.for-mobile--m {
  display: none !important;
}
.for-mobile--m--flex {
  display: none !important;
}
@media screen and (max-width: 480px) {
  .for-mobile--m {
    display: block !important;
  }
  .for-mobile--m--flex {
    display: flex !important ;
  }
}
.for-tablet {
  display: none !important;
}
.for-tablet--flex {
  display: none !important;
}
@media (min-width: 481px) {
  .for-tablet {
    display: block !important;
  }
  .for-tablet--flex {
    display: flex !important;
  }
}
@media (min-width: 720px) {
  .for-tablet,
  .for-tablet--flex {
    display: none !important;
  }
}
.for-tablet-desktop {
  display: block !important;
}
.for-tablet-desktop--flex {
  display: flex !important;
}
@media screen and (max-width: 480px) {
  .for-tablet-desktop,
  .for-tablet-desktop--flex {
    display: none !important;
  }
}
.section {
  padding: 50px 10px;
  max-width: 1140px;
  margin: 0 auto;
}
body {
  color: #28387B;
  font-family: 'Sans-Regular';
  margin: 0;
}
body .wrapper-app {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFAF3;
  overflow: hidden;
}
body .wrapper-app .header {
  padding: 40px 0 50px 0;
}
body .wrapper-app .header__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
}
body .wrapper-app .header__menu {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .wrapper-app .header__menu .nav {
  margin-right: 60px;
  cursor: pointer;
}
body .wrapper-app .header__menu .nav:hover {
  text-decoration: underline;
}
body .wrapper-app .header__menu .last {
  margin-right: 140px;
}
body .wrapper-app .header__menu .our-menu {
  position: relative;
}
body .wrapper-app .header__menu .our-menu .dropdown-content {
  width: 170px;
  display: none;
  position: absolute;
  left: 0;
  padding: 25px 25px;
  margin-top: 17px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 38px 0px rgba(171, 171, 171, 0.35);
  font-family: 'Myriad-Regular';
  z-index: 99;
}
body .wrapper-app .header__menu .our-menu .dropdown-content__ul {
  padding-left: 0;
  margin: 0;
}
body .wrapper-app .header__menu .our-menu .dropdown-content__li {
  list-style: none;
}
body .wrapper-app .header__menu .our-menu .dropdown-content__a {
  font-size: 20px;
  color: #28387B;
  margin-bottom: 10px;
}
body .wrapper-app .header__menu .our-menu .dropdown-content__a:hover {
  text-decoration: underline;
}
body .wrapper-app .header__menu .our-menu .dropdown-content__a--active {
  color: #ffffff;
}
body .wrapper-app .header__menu .our-menu .dropdown-content.show {
  display: block;
}
@media screen and (max-width: 991px) {
  body .wrapper-app .header__menu .our-menu .dropdown-content {
    right: 10px;
  }
  body .wrapper-app .header__menu .our-menu .dropdown-content__a {
    font-size: 18px;
  }
}
body .wrapper-app .header__lang {
  display: flex;
  align-items: center;
}
body .wrapper-app .header__lang .basket {
  margin-right: 30px;
}
body .wrapper-app .header__lang .PL {
  margin-right: 15px;
}
@media screen and (max-width: 940px) {
  body .wrapper-app .header__menu .nav {
    margin-right: 40px;
  }
  body .wrapper-app .header__menu .last {
    margin-right: 40px;
  }
}
@media screen and (max-width: 720px) {
  body .wrapper-app .header__logo > img {
    width: 220px;
  }
}
@media screen and (max-width: 320px) {
  body .wrapper-app .header__logo > img {
    width: 140px;
  }
}
body .wrapper-app .main__slider .slick-slide {
  margin: 0 15px;
}
body .wrapper-app .main__slider .slick-list {
  margin-left: 0;
  margin-right: 0;
}
body .wrapper-app .main__slider .slick-center .slide {
  opacity: 1 !important;
}
body .wrapper-app .main__slider .slide {
  opacity: 0.5;
  border-radius: 8px;
  overflow: hidden;
}
body .wrapper-app .main__slider .slide__text {
  max-width: 500px;
  width: 50%;
  background-color: #28387B;
  color: #ffffff;
  display: block;
  padding: 80px 30px 30px 30px;
}
body .wrapper-app .main__slider .slide__img {
  width: 45%;
  max-width: 100%;
}
body .wrapper-app .main__section-2--title,
body .wrapper-app .main .section-2--title {
  max-width: 650px;
  margin: 0 auto;
}
body .wrapper-app .main__section-2__content,
body .wrapper-app .main .section-2__content {
  flex-wrap: wrap;
  justify-content: space-around;
}
body .wrapper-app .main__section-2__content .item,
body .wrapper-app .main .section-2__content .item {
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 8px 16px rgba(174, 136, 123, 0.16);
}
body .wrapper-app .main__section-2__content .item__name,
body .wrapper-app .main .section-2__content .item__name {
  padding: 15px 0;
}
body .wrapper-app .main__section-2__content .item__name img,
body .wrapper-app .main .section-2__content .item__name img {
  margin-right: 10px;
}
body .wrapper-app .main__section-2__more,
body .wrapper-app .main .section-2__more,
body .wrapper-app .main__section-2 .more,
body .wrapper-app .main .section-2 .more {
  max-width: 1140px;
  margin: 0 auto;
  padding: 30px 0;
  background-color: #ffffff;
  border-radius: 8px;
}
body .wrapper-app .main__section-2__more__text,
body .wrapper-app .main .section-2__more__text,
body .wrapper-app .main__section-2 .more__text,
body .wrapper-app .main .section-2 .more__text {
  margin: 0 20px;
}
body .wrapper-app .main__section-3__store,
body .wrapper-app .main .section-3__store {
  flex-wrap: wrap;
}
body .wrapper-app .main__section-4 {
  padding: 50px 0 100px 0;
}
body .wrapper-app .main__section-4 .users-slider {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
body .wrapper-app .main__section-4 .slide {
  flex-wrap: wrap;
}
body .wrapper-app .main__section-4 .user {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px rgba(174, 136, 123, 0.16);
  border-radius: 8px;
  max-width: 505px;
  margin-top: 30px;
}
body .wrapper-app .main__section-4 .user:nth-child(even) {
  margin-left: 30px;
}
body .wrapper-app .main__section-4 .user:nth-child(odd) {
  margin-left: 12px;
}
body .wrapper-app .main__section-4 .user__ava {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
body .wrapper-app .main__section-5,
body .wrapper-app .main .section-5 {
  background-color: #ffffff;
}
body .wrapper-app .main__section-5__img,
body .wrapper-app .main .section-5__img {
  max-width: 100%;
  width: 50%;
}
@media screen and (max-width: 940px) {
  body .wrapper-app .main__slider .slide__img {
    width: 45%;
  }
  body .wrapper-app .main__slider .slide__text {
    width: 100%;
    padding: 50px 30px 30px 30px;
  }
  body .wrapper-app .main__slider .slide__button {
    margin-top: 60px !important;
  }
  body .wrapper-app .main__section-2__content .item,
  body .wrapper-app .main .section-2__content .item {
    max-width: 300px;
  }
  body .wrapper-app .main__section-2__content .item__name,
  body .wrapper-app .main .section-2__content .item__name {
    font-size: 22px !important;
  }
  body .wrapper-app .main__section-2__content .item__img,
  body .wrapper-app .main .section-2__content .item__img {
    max-width: 300px;
  }
  body .wrapper-app .main__section-4 .user {
    max-width: 400px;
  }
  body .wrapper-app .main__section-4 .user:nth-child(odd) {
    margin-left: 6px;
  }
}
@media screen and (max-width: 720px) {
  body .wrapper-app .main__slider .slide__title {
    display: block !important;
  }
  body .wrapper-app .main__slider .slide__text {
    padding: 10px 10px 20px 20px;
  }
  body .wrapper-app .main__slider .slide__button {
    margin-top: 20px !important;
  }
  body .wrapper-app .main__section-2__content .item,
  body .wrapper-app .main .section-2__content .item {
    display: flex;
    max-width: 100%;
    overflow: auto;
    flex-wrap: nowrap;
    margin-top: 30px;
  }
  body .wrapper-app .main__section-2__content .item__name,
  body .wrapper-app .main .section-2__content .item__name {
    font-size: 24px !important;
    padding: 70px 65px;
    width: 263px;
  }
  body .wrapper-app .main__section-2__content .item__img,
  body .wrapper-app .main .section-2__content .item__img {
    max-width: 300px;
  }
  body .wrapper-app .main .section-3__store {
    padding: 0 20px;
    box-sizing: border-box;
  }
  body .wrapper-app .main__section-4 .user {
    max-width: 600px;
    margin: 20px 0 0 36px !important;
  }
  body .wrapper-app .main__section-5 .content,
  body .wrapper-app .main .section-5 .content {
    text-align: center;
  }
  body .wrapper-app .main__section-5__img,
  body .wrapper-app .main .section-5__img {
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  body .wrapper-app .main__slider .slide {
    display: block !important;
  }
  body .wrapper-app .main__slider .slide__img {
    width: 100%;
  }
  body .wrapper-app .main__slider .slide__title {
    display: block !important;
  }
  body .wrapper-app .main__slider .slide__text {
    max-width: 400px;
    padding: 10px 10px 20px 20px;
  }
  body .wrapper-app .main__slider .slide__button {
    margin-top: 20px !important;
  }
  body .wrapper-app .main__section-2__content .item,
  body .wrapper-app .main .section-2__content .item {
    display: block;
    max-width: 100%;
    overflow: auto;
    flex-wrap: nowrap;
    margin-top: 30px;
  }
  body .wrapper-app .main__section-2__content .item__name,
  body .wrapper-app .main .section-2__content .item__name {
    font-size: 28px !important;
    padding: 25px 0;
    width: 340px;
  }
  body .wrapper-app .main__section-2__content .item__img,
  body .wrapper-app .main .section-2__content .item__img {
    max-width: 100%;
  }
  body .wrapper-app .main .section-3__store {
    padding: 0 20px;
    box-sizing: border-box;
    display: block !important;
  }
  body .wrapper-app .main .section-3__store .slick {
    padding: 23px 40px !important;
  }
  body .wrapper-app .main .section-3__store .slick-current {
    margin-right: -30px;
    margin-left: 30px;
  }
  body .wrapper-app .main .section-3__store .slick-dots {
    left: 0;
  }
  body .wrapper-app .main .section-3__store .slick-prev {
    z-index: 1;
    left: 0;
  }
  body .wrapper-app .main .section-3__store .slick-prev::before {
    content: '';
  }
  body .wrapper-app .main .section-3__store .slick-next {
    right: 5px;
  }
  body .wrapper-app .main .section-3__store .slick-next::before {
    content: '';
  }
  body .wrapper-app .main__section-4 .user {
    max-width: 450px;
    margin: 20px 10px !important;
  }
  body .wrapper-app .main__section-5 .content,
  body .wrapper-app .main .section-5 .content {
    text-align: center;
  }
  body .wrapper-app .main__section-5__img,
  body .wrapper-app .main .section-5__img {
    margin: 0 auto;
  }
}
.footer {
  background: #28387B;
}
.footer .sign {
  margin-bottom: 20px;
}
.footer a {
  color: #ffffff;
}
.footer a:hover {
  text-decoration: underline;
}
.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .box1 {
  flex-wrap: wrap;
  flex: 1;
  order: 1;
  width: 35%;
  margin-right: 20px;
}
.footer .box2 {
  flex-wrap: wrap;
  flex: 0.5;
  order: 2;
  width: 21%;
}
.footer .box3 {
  flex-wrap: wrap;
  flex: 0.5;
  order: 3;
  width: 21%;
}
.footer .box4 {
  flex-wrap: wrap;
  flex: 0.5;
  order: 4;
  width: 21%;
}
.footer .box5 {
  order: 5;
}
.footer .box5 .prava {
  flex: 1.5;
}
.footer .box5 .poli {
  flex: 0.5;
}
.footer .box5 .digital {
  flex: 0.5;
}
@media screen and (max-width: 720px) {
  .footer .box1 {
    flex: auto;
    order: 1;
    width: 100%;
    margin: 20px 0;
  }
}
@media screen and (max-width: 480px) {
  .footer .box1,
  .footer .box2,
  .footer .box3,
  .footer .box4,
  .footer .sign {
    display: none;
  }
  .footer .box5 {
    margin: 0 !important;
    display: block !important;
    text-align: center;
  }
  .footer .box5 .digital {
    margin-top: 30px;
  }
  .footer .box5 .poli {
    display: none;
  }
}
.product {
  background-color: #ffffff;
  max-width: 220px;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #EADDD9;
  position: relative;
  margin: 0 10px;
}
.product__weight {
  position: absolute;
  top: 97px;
  right: 114px;
}
.product__button {
  width: 113px;
  padding: 16px 20px;
}
.product .weight {
  position: absolute;
  right: 116px;
  top: 97px;
}
.product .marks {
  position: absolute;
  top: 0;
  left: 10px;
}
.product .marks .hit {
  background-color: #28387B;
  color: #ffffff;
}
.product .marks .vegan {
  background-color: #47A04B;
  color: #ffffff;
}
.product .marks .deser {
  background-color: #FFD69C;
  color: #28387B;
}
.product .marks .dietetyczne {
  background-color: #F8D3CC;
  color: #28387B;
}
.product .marks .mark {
  text-transform: uppercase;
  border-radius: 4px;
  margin-top: 10px;
  padding: 8px 2px;
  width: 80px;
}
@media screen and (max-width: 940px) {
  .product {
    max-width: 200px;
    padding: 10px;
    margin: -10px 3px;
  }
  .product__weight {
    top: 84px;
    right: 88px;
  }
}
@media screen and (max-width: 720px) {
  .product {
    max-width: 260px;
    padding: 30px 20px 20px 30px;
    margin: -10px 9px;
  }
  .product__weight {
    top: 105px;
    right: 133px;
  }
}
@media screen and (max-width: 480px) {
  .product {
    max-width: 300px;
    margin: 0 !important;
  }
  .product__basket {
    width: 160px;
  }
  .product__weight {
    top: 105px;
    right: 154px;
  }
  .product__img {
    max-width: 100%;
    margin: 0 auto;
  }
  .product__name {
    font-size: 24px !important;
  }
  .product__short-name {
    font-size: 20px;
  }
  .product__description {
    font-size: 18px;
  }
  .product__price {
    font-size: 24px;
    font-weight: 'Sans-SemiBold';
  }
  .product .slick-slide {
    margin: 0 15px;
  }
  .product .slick-list {
    margin-left: 0;
    margin-right: 0;
  }
  .product .slick-center .slide {
    opacity: 1 !important;
  }
}
.mt-1 {
  margin-top: 10px !important;
}
.mt-2 {
  margin-top: 20px !important;
}
.mt-3 {
  margin-top: 30px !important;
}
.mt-4 {
  margin-top: 40px !important;
}
.mt-5 {
  margin-top: 50px !important;
}
.mt-6 {
  margin-top: 60px !important;
}
.mt-7 {
  margin-top: 70px !important;
}
.mt-8 {
  margin-top: 80px !important;
}
.mt-9 {
  margin-top: 90px !important;
}
.mt-10 {
  margin-top: 100px !important;
}
.w-100 {
  width: 100%;
}
@font-face {
  font-family: 'Sans-Regular';
  src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Sans-Bold';
  src: url('../fonts/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Sans-Light';
  src: url('../fonts/SourceSansPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Sans-SemiBold';
  src: url('../fonts/SourceSansPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
.burger-menu {
  width: 25px;
  cursor: pointer;
  z-index: 8;
  background-color: #28387B;
  padding: 10px;
  margin-right: 148px;
}
@media screen and (max-width: 480px) {
  .burger-menu {
    margin-right: 20px;
  }
}
.menu {
  display: none;
}
.menu__active {
  display: block;
}
.menu__active .moves-out {
  display: block;
  animation-name: moves-out;
  -webkit-animation-name: moves-out;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}
@keyframes moves-out {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}
.menu__active .wrapper-nav {
  display: block;
  position: absolute;
  z-index: 9;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.menu__active .wrapper-nav .cd-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  background-color: #28387B;
  padding: 40px 20px;
}
.menu__active .wrapper-nav .cd-nav .top-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menu__active .wrapper-nav .cd-nav .top-wrapper .flag .PL {
  margin-right: 10px;
}
.menu__active .wrapper-nav .cd-nav .top-wrapper .open-menu {
  width: 20px;
  height: 20px;
}
.menu__active .wrapper-nav .cd-nav .top-wrapper .open-menu .bar-1,
.menu__active .wrapper-nav .cd-nav .top-wrapper .open-menu .bar-2,
.menu__active .wrapper-nav .cd-nav .top-wrapper .open-menu .bar-3 {
  display: block;
  width: 100%;
  border-radius: 3px;
  height: 4px;
  background: #FFD69C;
  transition: all 0.3s;
  position: relative;
}
.menu__active .wrapper-nav .cd-nav .top-wrapper .open-menu .bar-1 {
  transform: rotate(-45deg) translate(-4px, 4px);
}
.menu__active .wrapper-nav .cd-nav .top-wrapper .open-menu .bar-2 {
  opacity: 0;
}
.menu__active .wrapper-nav .cd-nav .top-wrapper .open-menu .bar-3 {
  transform: rotate(45deg) translate(-2px, -2px);
}
.menu__active .wrapper-nav .cd-nav .cd-primary-nav {
  padding: 0;
}
.menu__active .wrapper-nav .cd-nav .cd-primary-nav div {
  color: #ffffff;
  font-weight: bold;
}
.menu__active .wrapper-nav .cd-nav .cd-primary-nav ul {
  padding: 0;
}
.menu__active .wrapper-nav .cd-nav .cd-primary-nav ul li {
  list-style: none;
  margin: 15px 0;
}
.menu__active .wrapper-nav .cd-nav .cd-primary-nav ul li a {
  color: #ffffff !important;
  font-weight: bold;
}
.menu__active .wrapper-nav .cd-nav .cd-primary-nav .cd-secondary-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  background-color: #28387B;
  padding: 40px 20px;
}
.menu__active .wrapper-nav .cd-nav .cd-primary-nav .cd-secondary-nav div {
  color: #ffffff;
  font-weight: bold;
}
.menu__active .wrapper-nav .cd-nav .cd-primary-nav .cd-secondary-nav .back-to-menu .left-arrow {
  margin-right: 10px;
}
.menu__active .wrapper-nav .cd-nav .is-hidden {
  display: none;
}
.menu__active .cd-primary-nav ul.is-hidden {
  @include transform(translateX(0));
}
.burger-menu__span {
  display: block;
  width: 100%;
  border-radius: 3px;
  height: 3px;
  background: #ffffff;
  transition: all 0.3s;
  position: relative;
}
.burger-menu__span + .burger-menu__span {
  margin-top: 4.1px;
}
.active .burger-menu__span:nth-child(1) {
  animation: ease 0.7s top forwards;
}
.not-active .burger-menu__span:nth-child(1) {
  animation: ease 0.7s top-2 forwards;
}
.active .burger-menu__span:nth-child(2) {
  animation: ease 0.7s scaled forwards;
}
.not-active .burger-menu__span:nth-child(2) {
  animation: ease 0.7s scaled-2 forwards;
}
.active .burger-menu__span:nth-child(3) {
  animation: ease 0.7s bottom forwards;
}
.active .burger-menu__span {
  background: #fff;
}
.not-active .burger-menu__span:nth-child(3) {
  animation: ease 0.7s bottom-2 forwards;
}
@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 8.5px;
    transform: rotate(0);
  }
  100% {
    top: 8.5px;
    transform: rotate(45deg);
  }
}
@keyframes top-2 {
  0% {
    top: 8.5px;
    transform: rotate(45deg);
  }
  50% {
    top: 8.5px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}
@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 8.5px;
    transform: rotate(0);
  }
  100% {
    bottom: 8.5px;
    transform: rotate(135deg);
  }
}
@keyframes bottom-2 {
  0% {
    bottom: 8.5px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 8.5px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}
@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
