.section{
  padding: 50px 10px;
  max-width: 1140px;
  margin: 0 auto;
}
body{
	color: #colors[dark-blue];
	font-family: #fonts[regular];
	margin: 0;
	.wrapper-app{
		max-width: 1440px;
		width: 100%;
		margin: 0 auto;
		background-color: #colors[cream];
		.header{
      padding: 40px 0 50px 0;      
			&__contacts{
				display: flex;
				justify-content: space-between;
				align-items: center;
				max-width: 1140px;
				margin: 0 auto;
			}
			&__menu{
				max-width: 1140px;
				margin: 0 auto;
				display: flex;
				justify-content: space-between;
        align-items: center;
        .nav{
          margin-right: 60px;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
        .last {
          margin-right: 140px;
        }
        .our-menu {
          position: relative;
          .dropdown-content{
            width: 170px;
            display: none;
            position: absolute;
            left: 0;
            padding: 25px 25px;
            margin-top: 17px;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0px 0px 38px 0px rgba(171, 171, 171, 0.35);
            font-family: 'Myriad-Regular';
            z-index:99;
            &__ul{
                padding-left: 0;
                margin:0;
            }
            &__li{
                list-style: none;
            }
            &__a{
                font-size: 20px;
                color: #colors[dark-blue];
                margin-bottom: 10px;
                &:hover{
                  text-decoration: underline;
                }
                &--active{
                  color:#colors[white];
                }
            }
            &.show{
                display: block;
            }
            @media screen and (max-width: 991px){
                right: 10px;
                &__a{
                    font-size: 18px;
                }
            }
          }
        }
			}
			&__lang{
				display: flex;
				align-items: center;
				// margin-left: 140px;
				.basket{
					margin-right: 30px;
				}
				.PL{
					margin-right: 15px;
				}
      }
      @media screen and (max-width: 940px) {
        &__menu {
          .nav {
            margin-right: 40px;
          }
          .last {
            margin-right: 40px;
          }
        }
      }
    }
    .main{
      &__slider{
        .slick {
          &-slide {
            margin: 0 15px;
          }
          
          &-list {
            margin-left: 0;
            margin-right: 0;
          }
          &-center{
            .slide{
              opacity: 1 !important;
            }
          }
        }
        .slide {
          opacity: 0.5;
          border-radius: 8px;
          overflow: hidden;
          &__text{
            max-width: 500px;
            width: 50%;
            background-color: #colors[dark-blue];
            color: #colors[white];
            display: block;
            padding: 80px 30px 30px 30px;
          }
          &__img{
            width: 50%;
            max-width: 100%;
          }
        }
      }
      &__section-2, .section-2{
        &--title {
          max-width: 650px;
          margin: 0 auto;
        }
        &__content{
          flex-wrap: wrap;
          justify-content: space-around;
          .item{
            flex-wrap: wrap;
            background-color: #colors[white];
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0px 8px 16px rgba(174, 136, 123, 0.16);
            &__name{
              padding: 15px 0;
              img{
                margin-right: 10px;
              }
            }
          }
        }
        &__more, .more{
          max-width: 1140px;
          margin: 0 auto;
          padding: 30px 0;
          background-color: #colors[white];
          border-radius: 8px;
          &__text{
            margin: 0 20px;
          }
        }
      }
      &__section-3, .section-3 {
        &__store{
          flex-wrap: wrap;
        }
      }
      &__section-4 {
        .users-slider{
          max-width: 1140px;
          width: 100%;
          margin: 0 auto;
        }
        .slide {
          flex-wrap: wrap;
        }
        .user {
          padding: 20px;
          background-color: #colors[white];
          box-shadow: 0px 8px 16px rgba(174, 136, 123, 0.16);
          border-radius: 8px;
          max-width: 505px;
          margin-top: 30px;
          &:nth-child(even) {
            margin-left: 30px;
          }
          &:nth-child(odd) {
            margin-left: 12px;
          }
          &__ava {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin-right: 20px;
          }
        }
      }
      &__section-5, .section-5 {
        background-color: #colors[white];
        &__img {
          max-width: 100%;
          width: 50%;
        }
      }
      @media screen and (max-width: 940px) {
        &__slider{
          .slide {
            &__text{
              padding: 50px 30px 30px 30px;
            }
            &__button {
              margin-top: 60px !important;
            }
          }
        }
        &__section-2, .section-2 {
          &__content {
            .item {
              max-width: 300px;
              &__name {
                font-size: 22px !important;
              }
              &__img {
                max-width: 300px;
              }
            }
            
          }
        }
        &__section-4 {
          // .users-slider {
          //   .slick-slide {
          //     width: 940px !important;
          //   }
          // }
          .user {
            max-width: 400px;
            &:nth-child(odd) {
              margin-left: 6px;
            }
          }
        }
      }
    }
  }
}
.footer {
  background: #colors[dark-blue];
  .sign {
    margin-bottom: 20px;
  }
  a {
    color: #colors[white];
    &:hover {
      text-decoration: underline;
    }
  }
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }  
  .box1 {
    flex-wrap: wrap;
    flex: 1;
    order: 1;
    width: 35%;
    margin-right: 20px;
  }
  .box2 {
    flex-wrap: wrap;
    flex: 0.5;
    order: 2;
    width: 21%;
  }
  .box3 {
    flex-wrap: wrap;
    flex: 0.5;
    order: 3;
    width: 21%;
  }
  .box4 {
    flex-wrap: wrap;
    flex: 0.5;
    order: 4;
    width: 21%;
  }
  .box5 {
    order: 5;
    .prava {
      flex: 1.5;
    }
    .poli {
      flex: 0.5;
    }
    .digital {
      flex: 0.5;
    }
  }
}
.product {
  background-color: #colors[white];
  max-width: 220px;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #colors[hex];
  position: relative;
  margin: 0 10px;
  &__weight {
    position: absolute;
    top: 97px;
    right: 114px;
  }
  &__button{
    width: 113px;
    padding: 16px 20px;
  }
  .marks {
    position: absolute;
    top: 0;
    left: 10px;
    .hit{
      background-color: #colors[dark-blue];
      color: #colors[white];
    }
    .vegan{
      background-color: #colors[green];
      color: #colors[white];
    }
    .deser{
      background-color: #colors[blonde];
      color: #colors[dark-blue];
    } 
    .dietetyczne{
      background-color: #colors[rose];
      color: #colors[dark-blue];
    } 
    .mark {
      text-transform: uppercase;
      border-radius: 4px;
      margin-top: 10px;
      padding: 8px 2px;
      width: 80px;
    }
  }
  @media screen and (max-width:940px) {
    max-width: 200px;
    padding: 10px;
    margin: 0;
    &__weight {
      top: 84px;
      right: 88px;
    }
  }
}