body{
	color: #colors[dark-blue];
	font-family: #fonts[regular];
	margin: 0;
	.wrapper-app{
		max-width: 1440px;
		width: 100%;
		margin: 0 auto;
		background-color: #colors[cream];
		.header{
			padding: 40px 0 50px 0;
			&__contacts{
				display: flex;
				justify-content: space-between;
				align-items: center;
				max-width: 1140px;
				margin: 0 auto;
			}
			&__menu{
				max-width: 1140px;
				margin: 0 auto;
				display: flex;
				justify-content: space-between;
        align-items: center;
        .nav{
          margin-right: 60px;
        }
        .last {
          margin-right: 140px;
        }
			}
			&__lang{
				display: flex;
				align-items: center;
				// margin-left: 140px;
				.basket{
					margin-right: 30px;
				}
				.PL{
					margin-right: 15px;
				}
			}
    }
    .main{
      &__slider{
        .slick {
          &-slide {
            margin: 0 15px;
          }
          
          &-list {
            margin-left: 0;
            margin-right: 0;
          }
          &-center{
            .slide{
              opacity: 1 !important;
            }
          }
        }
        .slide {
          opacity: 0.5;
          border-radius: 8px;
          overflow: hidden;
          &__text{
            max-width: 500px;
            background-color: #colors[dark-blue];
            color: #colors[white];
            display: block;
            padding: 80px 30px 30px 30px;
          }
          &__img{
            width: 100%;
            max-width: 100%;
          }
        }
      } 
      &__section {
        max-width: 1140px;
        margin: 0 auto;
      }
      .section{
        padding: 50px 0;
        &--title {
          max-width: 650px;
          margin: 0 auto;
        }
        &__content{
          flex-wrap: wrap;
          justify-content: space-around;
          .item{
            flex-wrap: wrap;
            background-color: #colors[white];
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0px 8px 16px rgba(174, 136, 123, 0.16);
            &__name{
              padding: 15px 0;
              img{
                margin-right: 10px;
              }
            }
          }
        }
        &__more, .more{
          max-width: 1140px;
          margin: 0 auto;
          padding: 30px 0;
          background-color: #colors[white];
          border-radius: 8px;
          &__text{
            margin: 0 20px;
          }
        }
        &__store{
          flex-wrap: wrap;
        }
      }
    }
    .section-4 {
      .user {
        &__ava{
          border-radius: 50%;
          width: 50px;
          height: 50px;
        }
      }
    }
	}
}
.product {
  background-color: #colors[white];
  max-width: 220px;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #colors[hex];
  position: relative;
  margin: 0 10px;
  &:hover{
    box-shadow: 0px 8px 16px rgba(174, 136, 123, 0.4);
  }
  &__button{
    width: 113px;
    padding: 16px 20px;
  }
  .weight {
    position: absolute;
    right: 116px;
    top: 97px;
  }
  .marks {
    position: absolute;
    top: 0;
    left: 10px;
    .hit{
      background-color: #colors[dark-blue];
      color: #colors[white];
    }
    .vegan{
      background-color: #colors[green];
      color: #colors[white];
    }
    .deser{
      background-color: #colors[blonde];
      color: #colors[dark-blue];
    } 
    .dietetyczne{
      background-color: #colors[rose];
      color: #colors[dark-blue];
    } 
    .mark {
      text-transform: uppercase;
      border-radius: 4px;
      margin-top: 10px;
      padding: 8px 2px;
      width: 80px;
    }
  }
  .count {
    &__number {
      background: #f2f2f2;
      padding: 5px 15px;
      border-radius: 4px;
      margin: 0 10px;
    }
  }
}