.burger-menu {
  width: 25px;
  cursor: pointer;
	z-index: 99999;
	background-color: #colors[dark-blue];
	padding: 10px;
  margin-right: 148px;
  .menu{
    display: none;
  }
    .menu {
      &__active {
        display: block;
        .wrapper-nav {
          display: block;
          position: absolute;
          right: 0;
          left: 0;
          top: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.7);
          .cd-nav {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 200px;
            background-color: #colors[dark-blue];
            padding: 40px 20px;
            .top-wrapper {
              width: 100%;
              display: flex;
              justify-content: space-between;
              .open-menu {
                width: 20px;
                height: 20px;
                .bar-1,.bar-2,.bar-3{
                  display: block;
                  width: 100%;
                  border-radius: 3px;
                  height: 4px;
                  background:#colors[blonde];
                  transition: all 0.3s;
                  position: relative;
                }
                .bar-1 {
                  transform: rotate(-45deg) translate(-4px, 4px);
                }
                .bar-2 {opacity: 0;}
                .bar-3 {
                  transform: rotate(45deg) translate(-2px, -2px);
                }
            }
            
            }
            .cd-primary-nav{
              padding: 0;
              li{
                margin: 15px 0;
                a{
                  color: #colors[white] !important;
                font-weight: bold;
                }
              }
              
            }
            .is-hidden{
              display: none
            }
          }
        }
        .cd-primary-nav{
          ul{
            &.is-hidden {
              @include transform(translateX(0));
            }
          }
        }
      }
    }
  @media screen and (max-width:480px) {
    margin-right: 20px;
  }
}

.burger-menu__span {
  display: block;
  width: 100%;
  border-radius: 3px;
  height: 3px;
  background: #colors[white];
  transition: all 0.3s;
  position: relative;
}

.burger-menu__span + .burger-menu__span {
  margin-top: 4.1px;
}

.active .burger-menu__span:nth-child(1) {
  animation: ease 0.7s top forwards;
}

.not-active .burger-menu__span:nth-child(1) {
  animation: ease 0.7s top-2 forwards;
}

.active .burger-menu__span:nth-child(2) {
  animation: ease 0.7s scaled forwards;
}

.not-active .burger-menu__span:nth-child(2) {
  animation: ease 0.7s scaled-2 forwards;
}

.active .burger-menu__span:nth-child(3) {
  animation: ease 0.7s bottom forwards;
}

.active .burger-menu__span {
  background: #fff;
}

.not-active .burger-menu__span:nth-child(3) {
  animation: ease 0.7s bottom-2 forwards;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 8.5px;
    transform: rotate(0);
  }
  100% {
    top: 8.5px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 8.5px;
    transform: rotate(45deg);
  }
  50% {
    top: 8.5px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 8.5px;
    transform: rotate(0);
  }
  100% {
    bottom: 8.5px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 8.5px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 8.5px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
